@mixin fti-contain-static {
  @extend %_fti-contain-queries;
}

@mixin fti-contain($gutter: $fti-gutter) {
  @extend %_fti-contain;
}

@mixin fti-wrap($gutter: $fti-gutter) {
  @extend %_fti-wrap-setup;
}

@mixin fti-col($col) {
  @include make-fti-col($col);
}


@mixin fti-col-offset($col) {
  margin-left: percentage(($col / $fti-col-n));
}
@mixin fti-col-push($col) {
  left: percentage(($col / $fti-col-n));
}
@mixin fti-col-pull($col) {
  right: percentage(($col / $fti-col-n));
}