/* ## `fti-clearfix`
* Source: http://nicolasgallagher.com/micro-clearfix-hack/
*/
	@mixin fti-clearfix() {
	  &:before,
	  &:after {
	    content: " "; // 1
	    display: table; // 2
	    // @include box-sizing(border-box);
	  }
	  &:after {
	    clear: both;
	  }
	}
	%fti-clearfix {
		@include fti-clearfix;
	}

//## `border-box`
	@mixin box-sizing($boxmodel) {
	  -webkit-box-sizing: $boxmodel;
	     -moz-box-sizing: $boxmodel;
	          box-sizing: $boxmodel;
	          // *behavior: url("boxsizing.htc");
	}
	%fti-border-box {
		@include box-sizing(border-box);
	}

