

@mixin make-grid($prefix: $col-prefix) {
	@if($is_generators and $is_push_pull_classes) {
		@include calc-grid-column(pull, $prefix);
		@include calc-grid-column(push, $prefix);
		@include calc-grid-column(offset, $prefix);
	}
}
