@import "grid-resets";
@import "grid-variables";
@import "grid-queries";
@import "grid-mixins";
@import "grid-helpers";
@import "grid-api";
@import "grid-generators";
@import "grid-debugger";


@if ($is_generators) {
  @include make-grid();
  .fti-contain {
    @include fti-contain;
    @include fti-contain-static;
  }

  .fti__contain {
    @include fti-contain;
  }
  .fti-wrap {
    @include fti-wrap;
  }
}
