@import "grid";

.my-page {
  @include fti-contain;
  @include fti-contain-static;
}
.my-new-page {
 @include fti-contain;
 @include fti-contain-static; 
}
.doublet {
  @include fti-wrap;
}
.doublet-inner {
  @include fti-col(6);
}

.triplet {
  @include fti-wrap;
}

.triplet-inner {
  @include fti-col(4);
}

