ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
  margin: 0; }

li {
  display: block;
  list-style-type: none; }

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* ## `fti-clearfix`
* Source: http://nicolasgallagher.com/micro-clearfix-hack/
*/
.fti-wrap:before, .doublet:before, .triplet:before, .fti-wrap:after, .doublet:after, .triplet:after {
  content: " ";
  display: table; }
.fti-wrap:after, .doublet:after, .triplet:after {
  clear: both; }

.fti-contain, .fti__contain, .my-page, .my-new-page, .fti-col-1, .fti-col-2, .fti-col-3, .fti-col-4, .triplet-inner, .fti-col-5, .fti-col-6, .doublet-inner, .fti-col-7, .fti-col-8, .fti-col-9, .fti-col-10, .fti-col-11, .fti-col-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("boxsizing.htc"); }

@media (min-width: 768px) {
  .fti-contain, .my-page, .my-new-page {
    width: 760px; } }
@media (min-width: 992px) {
  .fti-contain, .my-page, .my-new-page {
    width: 1000px; } }
@media (min-width: 1200px) {
  .fti-contain, .my-page, .my-new-page {
    width: 1180px; } }

.fti-contain, .fti__contain, .my-page, .my-new-page {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }

.fti-wrap, .doublet, .triplet {
  margin-left: -10px;
  margin-right: -10px; }

.fti-col-1, .fti-col-2, .fti-col-3, .fti-col-4, .triplet-inner, .fti-col-5, .fti-col-6, .doublet-inner, .fti-col-7, .fti-col-8, .fti-col-9, .fti-col-10, .fti-col-11, .fti-col-12 {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.fti-col-1 {
  width: 8.33333%; }

.fti-col-2 {
  width: 16.66667%; }

.fti-col-3 {
  width: 25%; }

.fti-col-4, .triplet-inner {
  width: 33.33333%; }

.fti-col-5 {
  width: 41.66667%; }

.fti-col-6, .doublet-inner {
  width: 50%; }

.fti-col-7 {
  width: 58.33333%; }

.fti-col-8 {
  width: 66.66667%; }

.fti-col-9 {
  width: 75%; }

.fti-col-10 {
  width: 83.33333%; }

.fti-col-11 {
  width: 91.66667%; }

.fti-col-12 {
  width: 100%; }

.fti-col-pull-1 {
  right: 8.33333%; }

.fti-col-pull-2 {
  right: 16.66667%; }

.fti-col-pull-3 {
  right: 25%; }

.fti-col-pull-4 {
  right: 33.33333%; }

.fti-col-pull-5 {
  right: 41.66667%; }

.fti-col-pull-6 {
  right: 50%; }

.fti-col-pull-7 {
  right: 58.33333%; }

.fti-col-pull-8 {
  right: 66.66667%; }

.fti-col-pull-9 {
  right: 75%; }

.fti-col-pull-10 {
  right: 83.33333%; }

.fti-col-pull-11 {
  right: 91.66667%; }

.fti-col-pull-12 {
  right: 100%; }

.fti-col-pull-0 {
  right: auto; }

.fti-col-push-1 {
  left: 8.33333%; }

.fti-col-push-2 {
  left: 16.66667%; }

.fti-col-push-3 {
  left: 25%; }

.fti-col-push-4 {
  left: 33.33333%; }

.fti-col-push-5 {
  left: 41.66667%; }

.fti-col-push-6 {
  left: 50%; }

.fti-col-push-7 {
  left: 58.33333%; }

.fti-col-push-8 {
  left: 66.66667%; }

.fti-col-push-9 {
  left: 75%; }

.fti-col-push-10 {
  left: 83.33333%; }

.fti-col-push-11 {
  left: 91.66667%; }

.fti-col-push-12 {
  left: 100%; }

.fti-col-push-0 {
  left: auto; }

.fti-col-offset-0 {
  margin-left: 0%; }

.fti-col-offset-1 {
  margin-left: 8.33333%; }

.fti-col-offset-2 {
  margin-left: 16.66667%; }

.fti-col-offset-3 {
  margin-left: 25%; }

.fti-col-offset-4 {
  margin-left: 33.33333%; }

.fti-col-offset-5 {
  margin-left: 41.66667%; }

.fti-col-offset-6 {
  margin-left: 50%; }

.fti-col-offset-7 {
  margin-left: 58.33333%; }

.fti-col-offset-8 {
  margin-left: 66.66667%; }

.fti-col-offset-9 {
  margin-left: 75%; }

.fti-col-offset-10 {
  margin-left: 83.33333%; }

.fti-col-offset-11 {
  margin-left: 91.66667%; }

.fti-col-offset-12 {
  margin-left: 100%; }

/*# sourceMappingURL=main.css.map */
